body {background-color: rgb(136, 59, 59)}
h1{color: rgb(0, 0, 0); font-family: 'Gamja Flower', cursive;
    font-family: 'Source Sans Pro', sans-serif;}
p{color: rgb(0, 0, 0); font-family: 'Gamja Flower', cursive;
    font-family: 'Source Sans Pro', sans-serif;}
th{ text-align: center;}

