@model AgendaProj.Models.Situacao
<br>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/Agenda/Create" class="btn btn-primary">Novo Chamado</a></a>
			</div>
			
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							Ações <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="/Agenda/Create">Novo Chamado</a>
								<a href="/Client/Create">Novo Cliente</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							Listagem <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="/Agenda">Listar Chamados</a>
								<a href="/Client">Listar Clientes</a>
							</li>
						</ul>
					</li>
                           
						</ul>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
    <a href="#" class="btn btn-primary">Nova Situacao</a>
    <br><br>
<div class="form-group">
    <form action="Create" method="Post">

         <div class="form-group">
            <label>Situacao</label>
            <input  class="form-control"
                    type="text" name="sit" />
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>